%h2
	= project.name
	|  
	- if current_user	
		= link_to("Details", project.assignment_link)
	- else
		= disabled_link("Details")
- if project.rendered_description
	= project.rendered_description.html_safe
	