%h3
	Code of Conduct
%ol
	%li Respect each other and our equipment
	%li Don’t be afraid to ask lots of question - all questions are good questions!
	%li Be open-minded to new ideas
	%li Try to participate (no awkward silences)
	%li Let Rachel and Erika know if you won’t be attending class, or will be late
	%li Be mature
	%li Be supportive - offer help instead of criticism
