%h3
	Rachel's email address at rachelheidi+gwc@gmail.com
%h3
	Erika's email address is embreinhardt@gmail.com

%p
	Email both of us with any questions - it'll ensure that you get a response as quick as possible, and will help us stay in sync with each other. No question is too small! Whether it's about the material, the class, programming, or life in general - we're here to help you.

%p
	Seriously, we want class to be less like this:
	:erb
		<iframe width="640" height="390" src="//www.youtube.com/embed/uhiCFdWeQfA" frameborder="0" allowfullscreen></iframe>

%p
	and more like this:
	:erb
		<iframe width="640" height="390" src="//www.youtube.com/embed/uhiCFdWeQfA" frameborder="0" allowfullscreen></iframe>