:erb
  <h2 style="text-align: center;"> { Final Project </h2>
  <h2 style="text-align: center;"> (Flappy Winston); </h2> 
  <h2 style="text-align: center;"> } </h2> 
  
  <script src="https://www.khanacademy.org/cs/flappy-winston/4825974488170496/embed.js?editor=yes&amp;buttons=no&amp;author=no&amp;embed=yes"></script>
      
  <h3> Kelly Medina </h3> 
  <p> My name is Kelly Medina and I am a senior at Leadership Public School. Through the year I have attended coding classes every other saturday morning. I at first thought that I would struggle greatly in this class, I later realized excatly how much fun coding could be and I plan to some how intergrade this into my career. My part in this project was by creating the score keeping. 

  <h3> Cerene Diaz </h3>
  <p> Hiya! I am Cerene, and I am a sophomore at Leadership Public School. I joined Girls Who Code because it interests me what magic happens behehind the computer screen. I also thought this class would be arduous and I was right. However, it has been fun and I've learned a multitude of techniques and coding. During this final project, I helped make sure the winston falls when it hits the pipes and making the bird. </p>
  
  <h3>Katherine Soto</h3>
  <p> Sup! My names Katherine (But you can call me "kat") and I am a junior at Leadership public School. I joined Girls Who Code because I was interested in how computers are programed and what goes behind the programing process. I learned many types of coding and , even though it kind of confused me a little, I found it fun to work on diffrent types of things. On the final project, I helped work on the ending screen or "Game Over screen and tried to help with putting everything together.</p>
