:erb
	<h1>Final Project will live here</h1>
	<h2>Can't wait to see how it looks!</h2>
	<script src="http://www.khanacademy.org/cs/ohsomanycircles/2199287204/embed.js?buttons=no&amp;author=no&amp;embed=yes"></scriptec